<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"> <!-- call package permissions -->
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- end call package permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_*" />

    <application
        android:name=".calls.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WellnessVet"
        tools:targetApi="31">
        <activity
            android:name=".activities.doctor.DoctorUserPetsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.doctor.DoctorUserPetsDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.UserPetDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.PetsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.doctor.DoctorChangeAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.doctor.DoctorAppointmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.UserAppointmentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.PaymentConfirmActivity"
            android:exported="false" />
        <activity
            android:name=".activities.common.SelectLanguageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.common.ImageVideoViewerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.UserSignupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.doctor.DoctorSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.common.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.FindDoctorFromListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.CreateAppointmentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.ViewDoctorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.doctor.EditDoctorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.EditUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.ShowUserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.doctor.ShowDoctorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.doctor.DoctorChatActivity"
            android:exported="false" />
        <activity
            android:name=".activities.user.UserChatActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <activity
            android:name=".activities.common.MapsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activities.doctor.DoctorTimeFeesActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activities.doctor.DoctorDashBoardActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activities.doctor.DoctorProfileActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activities.doctor.DoctorLoginSignupActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activities.user.UserDashBoardActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activities.user.UserProfileActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activities.user.UserLoginSignupActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".activities.common.SplashActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "sendbird://” -->
                <data android:scheme="sendbird" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.FCMNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- call package activities -->
        <activity
            android:name=".calls.activites.VideoCallActivity"
            android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".calls.activites.VoiceCallActivity"
            android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name=".calls.activites.CallService"
            android:exported="true"
            android:stopWithTask="false" /> <!-- [Calls] FCM -->
        <!-- <service -->
        <!-- android:name="com.wellness.vet.app.calls.fcm.MyFirebaseMessagingService" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>